body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #FBFBFB;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0 !important;
  list-style-type: none !important;
  padding: 0 !important;
}

/*=== login page ===*/
.login_card {
  padding: 60px 16px 40px;
  text-align: center;
}

.login_card h4 {
  font-size: 40px;
  color: #5282EB;
  line-height: 60px;
  font-weight: 600;
}

.login_card h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #666666;
}

.login_form input {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  background-color: #EDEDEDB2;
  border-radius: 0.25rem !important;
  height: 48px;
  border: none;
  width: 100%;
  outline: none;
  color: rgb(102 102 102);
  box-shadow: none;
}

.login_form img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.login_form a {
  font-size: 16px;
  color: #5282EB;
  line-height: 24px;
  font-weight: 500;
}

.btn.btn-primary {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: rgb(82 130 235) !important;
  border-radius: 0.25rem !important;
  height: 48px;
  border: 1px solid rgb(82 130 235) !important;
  box-shadow: none !important;
  outline: none !important;
}

.login_form h5 {
  font-size: 16px;
  color: #989898;
  line-height: 24px;
  font-weight: 500;
}

button.google_btn {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-color: #66666680;
  border-width: 1px;
  border-radius: 0.25rem;
  height: 48px;
  width: 100%;
  background: transparent;
}

.register_now {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #666666;
}

.register_now a {
  color: #5282EB;
}

.sidebar {
  background: #fff;
  padding: 70px 40px 40px;
  position: fixed;
  height: 100vh;
  left: 0;
  z-index: 999;
  min-width: 261px;
  max-width: 261px;
}

.sidebar_logo h2 {
  color: #5282EB;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}

ul.menu_list li {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

ul.menu_list li svg {
  fill: #C2C2C2;
}

ul.menu_list li a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  color: rgb(194 194 194);
  display: flex;
  column-gap: 1rem;
  outline: none !important;
  box-shadow: none !important;
  align-items: center;
}

ul.menu_list li.active a,
ul.menu_list li.active a svg,
ul.menu_list li:hover a,
ul.menu_list li:hover a svg {
  fill: #fff;
  color: #fff;
}

ul.menu_list li.active,
ul.menu_list li:hover {
  background: rgb(82 130 235);
  color: #fff;
  border-radius: 0.375rem;
}

.user_name h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.search_input input,
.search_input textarea,
.search_input select {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  border-radius: 0.375rem !important;
  background-color: rgb(237 237 237) !important;
  border: 1px solid rgb(237 237 237) !important;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 500;
}

.form-floating label {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  font-weight: 500;
}

.form-floating label::after {
  display: none;
}

.search_input textarea {
  height: 132px !important;
}

.search_input .btn.btn-primary {
  height: 57.99px;
}

label.form_title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #333;
}

.table_card {
  padding: 35px 0;
  position: relative;
  overflow: auto;
  max-height: 80vh;
}

.form-control::file-selector-button {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: rgb(82 130 235) !important;
  border-radius: 0.25rem !important;
  height: 48px;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: #fff;
}

.import_file input {
  border: none !important;
  width: auto;
  margin: auto;
  max-width: initial;
  min-width: auto;
  font-size: 14px;
  font-weight: 500;
  outline: none !important;
  box-shadow: none !important;
  color: #3a3a3a;
}

.table_card table thead {
  background: rgb(242 245 254);
  border-bottom: 1px solid rgb(242 245 254);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.table_card table thead tr th {
  color: rgb(82 130 235);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75rem;
  vertical-align: middle;
}


button.btn.btn-primary.trasparent {
  background: transparent !important;
  color: rgb(82 130 235);
  border: 1px solid rgb(82 130 235) !important;
}


.table_card tbody tr td {
  border-bottom: 1px solid rgb(237 237 237);
  font-size: 16px;
  line-height: 1.75rem;
  vertical-align: middle;
  color: rgb(153 153 153);
  font-weight: 400;
}

.table_card tbody tr:last-child td {
  border: none;
}

button.id_blocked {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  margin: auto;
  font-size: 11px;
  border: none;
  border-radius: 0.375rem;
  background: rgb(82 130 235) !important;
  color: #fff;
  right: 10px;
  outline: none;
  box-shadow: none;
}

.modal.fade.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  width: 670px !important;
  max-width: 670px !important;
}

button.btn.btn-primary.trasparent {
  background: transparent !important;
  color: rgb(82 130 235);
}

button.btn.btn-primary.trasparent:hover {
  background: rgb(82 130 235) !important;
  color: #fff !important;
}

.btn.btn-primary:hover {
  background: transparent !important;
  color: rgb(82 130 235) !important;
}

button.btn.btn-primary.bg-danger {
  background: red !important;
  border-color: red !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff !important;
}

button.btn.btn-primary.bg-warning,
button.btn.btn-primary.bg-secondary {
  background-color: orange !important;
  /* min-width: 143px; */
}

button.btn.btn-primary.bg-warning:hover {
  color: orange !important;
  background-color: transparent !important;
}

button.btn.btn-primary.bg-secondary {
  background-color: #6c757d !important;
}

button.btn.btn-primary.bg-secondary:hover {
  color: #6c757d !important;
  background-color: transparent !important;
}

.right-btn {
  display: flex;
  justify-content: flex-end;
}

.suggestion_input {
  border: 1px solid rgb(237 237 237) !important;
  margin-top: 5px;
  max-height: 131px;
  overflow: auto;
  border-radius: 0.375rem !important;
}

.suggestion_input.filter_suggestion {
  position: absolute;
  z-index: 99;
  background: #fff;
  width: 100%;
}

.suggestion_input button {
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 7px 15px;
  border-bottom: 1px solid rgb(237 237 237) !important;
  margin-bottom: 7px;
}
.lenses_table  tr td select.form-control {
  min-width: 95px;
}
.filter_suggestions {
  position: absolute;
  bottom: -79%;
  z-index: 999;
  background: rgb(237 237 237) !important;
  padding: 10px;
  width: 100%;
  border-radius: 0 0  0.375rem 0.375rem;
}
.suggestion_input button:last-child {
  margin: 0 !important;
  border: none !important;
}

button.btn.btn-primary.bg-success.btn.btn-primary {
  background-color: #108a00 !important;
}

button.btn.btn-primary.bg-success.btn.btn-primary:hover {
  color: #108a00 !important;
  background-color: transparent !important;
}

button.btn.btn-primary.bg-danger:hover {
  background: transparent !important;
  color: red !important;
}

.user_style {
  width: auto;
  margin-left: 34px;
  margin-top: 70px;
}

.table_card tbody tr td,
.table_card tr th {
  white-space: nowrap;
}

header.top_header {
  margin-left: 0;
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 49px;
  left: 0;
  z-index: 9999;
  /* / box-shadow: 0 4px 15px -1px #0000000f; / */
}

.col.p-5 {
  padding-top: 100px !important;
}

.header_user_detail li img {
  width: 28px;
  filter: brightness(100);
  height: 28px;
  object-fit: cover;
}

.header_user_detail li span.user_icon {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 110px;
  background: #5282eb;
}

.header_user_detail li {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.header_user_detail li:not(:last-child) {
  margin-right: 15px !important;
  padding-right: 15px !important;
  border-right: 1px solid #5282eb;
}

.header_user_detail li a,
.header_user_detail li span {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.filter_sugestions {
  background: rgb(237 237 237) !important;
  top: 98%;
  position: absolute;
  width: 100%;
  z-index: 999;
  border-radius: 0 0 8px 8px;
  padding: 10px 15px;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  max-height: 145px;
  overflow: auto;
}

.filter_sugestions span {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

table.patitnet_table thead tr:first-child th {
  text-align: center;
}

table.patitnet_table thead tr:first-child th:not(:last-child) {
  border-right-color: #000 !important;
}

table.patitnet_table thead tr:first-child th:nth-child(5) {
  border-right-color: #e2e2e2 !important;
}

table.patitnet_table tr th,
table.patitnet_table tr td,
table.collection_table tr th,
table.collection_table tr td {
  padding: 8px;
}

.patitnet_table tr td input,
.collection_table tr td input,
.table_card tr td select,
.table_card tr td input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #000;
  height: 35px;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

/* .lenses_table tr td input {
  min-width: 100px;
} */

.table_card::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  border-radius: 10px;
}

.table_card::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.table_card::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
}

.table_card::-webkit-scrollbar-thumb:hover {
  background: rgb(82 130 235);
  border-radius: 10px;
}

.analysis_table table.table tr th,
.analysis_table table.table tr td,
table.patitnet_table tr th,
table.patitnet_table tr td,
.collection_table tr th,
.collection_table tr td,
.setting_table table tr td,
.setting_table table tr th {
  border: 1px solid #e2e2e2 !important;
}

.active_table td:last-child,
.active_table th:last-child {
  text-align: center;
}

.table_save {
  min-width: 114px;
}


.analysis_table table.table tr:not(:first-child) th:nth-child(4),
.analysis_table table.table tr td:nth-child(4),
.analysis_table table.table tr th:nth-child(8),
.analysis_table table.table tr td:nth-child(8),
.analysis_table table.table tr th:nth-child(12),
.analysis_table table.table tr td:nth-child(12),
.analysis_table table.table thead tr:first-child th:nth-child(1),
.analysis_table table.table thead tr:first-child th:nth-child(2),
.analysis_table table.table thead tr:first-child th:nth-child(3),
table.patitnet_table tr th:nth-child(1),
table.patitnet_table tr td:nth-child(1),
table.patitnet_table tr th:nth-child(5),
table.patitnet_table tr td:nth-child(5),
table.patitnet_table tr th:nth-child(9),
table.patitnet_table tr td:nth-child(9)

/* table.patitnet_table tr th:nth-child(12),
table.patitnet_table tr td:nth-child(14) */
  {
  border-right-color: #000 !important;
}

table.patitnet_table tr td .btn.btn-primary {
  font-size: 12px !important;
  padding: 6px;
  width: 38px;
  height: 38px;
}


.analysis_table table tr td.data_highlighted {
  color: #5282eb !important;
  background: #f4f4f4;
  font-weight: 600;
}

/* table.collection_table tr td div {
  text-wrap: wrap;
  max-width: 340px;
  word-break: break-all;
} */

/* .table_card.patitnet_table tr td:nth-child(7) input, .table_card.patitnet_table tr td:nth-child(11) input {
  min-width: 110px;
} */
.patitnet_table tr td,
.patitnet_table tr th {
  width: auto !important;
  min-width: auto;
  max-width: inherit;
}

.user_table table tr td:not(:last-child) {
  width: auto;
  max-width: 10%;
  text-wrap: wrap !important;
  word-break: break-all;
}

.search_table tr td:first-child {
  max-width: 110px;
  width: 110px;
}

.search_table,
.setting_table.table_card {
  overflow-x: auto;
  height: 65vh;
}

.search_table thead tr,
.search_table tbody tr:nth-child(1)

/* .search_table tbody tr:nth-child(2) */
  {
  position: sticky;
  top: 0;
}

.search_table.filter_table tbody tr:nth-child(1) {
  z-index: 999;
}

.search_table tr th {
  background-color: rgb(242 245 254);
}

.search_table thead tr:nth-child(2) {
  top: 44.89px;
}

.search_table tbody tr:nth-child(1) {
  top: 104.78px;
  background-color: #fff;
}

.lenses_table_scroll.table_card table thead,
.setting_table.table_card table thead {
  top: -1px;
}

/* .search_table tbody tr:nth-child(2) {
  top: 158px;
} */
.search_table.filter_table tbody tr:nth-child(2) {
  position: relative;
  top: 0;
}

.lenses_table_scroll {
  height: 65vh;
  padding-top: 0;
  margin-top: 30px;
}

.table_pagination button.pagination_button {
  width: 30px;
  height: 30px;
  border: 1px solid #5282EB;
  background: transparent;
  color: #5282EB;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none !important;
}

.table_pagination button.pagination_button:hover,
.table_pagination button.pagination_button:active,
.table_pagination button.pagination_button:focus {
  background-color: #5282eb;
  color: #fff;
}

.user_table table tr td:nth-child(4) {
  max-width: 350px;
}

.table_pagination span {
  font-size: 15px;
  font-weight: 500;
  color: #3a3a3a;
}

.table_pagination select,
.table_pagination input {
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;

}

.table_pagination button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.search_table tr td select {
  min-width: 150px;
}

.user_style.lenses_page {
  margin-top: 56px;
}

.user_style.lenses_page .form-floating>.form-control,
.user_style.lenses_page .form-floating>.form-control-plaintext,
.user_style.lenses_page .form-floating>.form-select {
  height: calc(3rem + calc(var(--bs-border-width) * 2));
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 1rem !important;
  font-size: 1rem !important;
  padding-left: 10px;
}

.user_style.lenses_page .form-floating>label {
  padding: 13px .75rem;
  display: flex;
  align-items: center;
}

.user_style.lenses_page .form-floating>.form-control-plaintext~label,
.user_style.lenses_page .form-floating>.form-control:focus~label,
.user_style.lenses_page .form-floating>.form-control:not(:placeholder-shown)~label,
.user_style.lenses_page .form-floating>.form-select~label {
  color: rgba(var(--bs-body-color-rgb), .65);
  transform: scale(.65) translateY(-.5rem) translateX(.15rem);
}

@media (max-width:1600px) {
  ul.menu_list li {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  ul.menu_list li a {
    font-size: 14px;
  }

  .btn.btn-primary {
    font-size: 1rem !important;
  }

  ul.menu_list li a {
    font-size: 12px;
  }
}

@media (max-width:1340px) {
  ul.menu_list li {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .table_card tbody tr td {
    font-size: 12px;
  }

  /* .patitnet_table tr td, .patitnet_table tr th {
    width: 10%;
    min-width: auto;
    max-width: 90px;
} */

  ul.menu_list li a {
    font-size: 12px;
  }

  ul.menu_list li a svg {
    width: 13px;
    height: 13px;
  }

  .header_user_detail li img {
    width: 15px;
    height: 15px;
  }

  .header_user_detail li span.user_icon {
    width: 30px;
    height: 30px;
  }

  .btn.btn-primary {
    font-size: 13px;
    height: 44px;
  }

  .table_card table thead tr th,
  .table_card table thead tr td {
    font-size: 12px;
  }
}

@media (max-width:1440px) {
  ul.menu_list li a {
    font-size: 11px;
  }

  .btn.btn-primary {
    font-size: 13px !important;
    height: 44px;
  }

  ul.menu_list li a {
    font-size: 10px;
  }
}

@media (max-width:1200px) and (min-width:1040px) {
  ul.menu_list li a {
    font-size: 9px;
    gap: 5px;
  }

  ul.menu_list li {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

@media (max-width:960px) {
  .col {
    margin: 0 15px 0 0 !important;
  }

  .user_style {
    width: auto;
    margin-left: 15px;
    margin-top: 20px;
  }

  header.top_header {
    background: #F8F9FA;
    padding: 10px 15px;
  }

  .header_user_detail {
    justify-content: start !important;
    border-top: 1px solid #cdcdcd;
    padding-top: 10px !important;
    margin-top: 10px !important;
  }

  .menu_list {
    margin-top: 20px !important;
  }
}

@media (max-width:1280px) {
  .table_card {
    overflow: auto !important;
  }
}

@media (max-width:767px) {

  .row.search_input {
    margin-right: 0;
  }

  header.top_header .row {
    margin-left: -26px;
  }
}

.patitnet_table tr td:first-child,
.patitnet_table tr th:first-child {
  min-width: 155px;
  width: auto;
  max-width: 155px;
}
.user_style.patient_header {
  margin-top: 13px;
}